.ant-form-item {
	margin: 0 !important;
}

html {
	scroll-behavior: smooth !important;
}

.tab-page-container {
	padding: 1rem 3rem;
	// min-height: 72vh;
	// height: 72vh;
	// overflow: auto;
}

.tab-page-container-no-scroll {
	padding: 1rem 3rem;
	min-height: 72vh;
}

$fonts: 40;

@for $i from 1 through $fonts {
	.font-#{$i} {
		font-size: #{$i}px;

		@include query(tab-land) {
			font-size: calc(#{$i}px - 4px) !important;
		}
	}
}

$fontWeights: 10;

@for $i from 1 through $fontWeights {
	.fw-#{$i}00 {
		font-weight: #{$i}00;
	}
}

.ant-form-item-label > label {
	font-size: 12px;
}

.ant-tabs-tab-btn {
	font-size: 12px;
}

.button-form-item {
	.ant-form-item-control {
		justify-content: center;
		button {
			span {
				text-align: center !important;
			}
		}
	}
}

.ant-alert-description {
	font-size: 11px;
	line-height: 1rem;
}

.ant-btn.ant-btn-primary {
	background: crimson;
	border-color: crimson;

	:active,
	:hover {
		background: crimson;
		border-color: crimson;
	}
}

.ant-form-item-control-input {
	.ant-form-item-control-input-content {
		span {
			border-radius: 5px !important;
		}
	}
}

.ant-select > div {
	border-radius: 5px !important;
}

.ant-input-number {
	border-radius: 5px !important;
}

.instructions-ul {
	li {
		font-size: 12px;
	}
}

.submit-final-btn {
	transition: all 0.3s;
	&:hover {
		color: #fff;
		transform: scale(1.1);
	}
}
