// @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700;900&display=swap");

.home-page {
	min-width: 100vw;
	min-height: 100vh;
	position: relative;

	.landing-details {
		width: 100%;
		position: absolute;
		left: 0;
		top: 40%;
		z-index: 100;
		display: flex;
		flex-direction: column;
		align-items: center;

		.landing-logos {
			width: 50%;
		}
		.text-1 {
			color: #fff;
			font-size: 35px;
		}
		.text-2 {
			color: #fff;
			font-size: 35px;
			font-weight: 600;
		}
	}

	.home-page-carousel {
		width: 100vw;
		height: 100vh;

		.carousel-item {
			min-width: 100vw;
			min-height: 100vh;
			position: relative;
			button {
				position: absolute;
				width: 210px;
				background: transparent;
				font-size: 20px;
				letter-spacing: 0.4rem;
				padding: 11px 2rem;
				border: 2px solid orange;
				color: white;
				top: 75%;
				left: calc(50% - 107px);
				outline: none;
				a {
					color: white;
				}

				&:hover {
					background: orange;
					color: black;
				}
			}
			img {
				width: 100%;
				min-height: 100vh;
				max-height: 100vh;
			}
		}
	}
}

// Responsive Design
@import "./responsive/breakpoints";

// Layout
@import "./layouts/flex";
@import "./layouts/grid";

// Utils
@import "./utils/assets";
@import "./utils/colors";
@import "./utils/helpers";
@import "./utils/typography";
@import "./layouts/sidebar";

// Components

@import "./components/registration";
@import "./components//admin-header";

// Over writes
@import "./over-writes";

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
	border-radius: 15px;
}

.image-preview {
	border-radius: 20px;
	height: 220px;
	width: 220px;

	max-height: 220px;
	max-width: 220px;
	cursor: pointer;
}
