.branding-btn-primary {
	padding: 0.5rem 2rem;
	background: crimson;
	border-radius: 5px;
	cursor: pointer;
	color: #fff;
	font-size: 16px;
	border: 0;

	&:focus {
		outline: none;
		outline-width: 0;
	}
	transition: all 0.3s;
	&:hover {
		transform: scale(1.02);
	}
}
