* {
	font-family: "Poppins", sans-serif;
}

.text-small {
	font-size: 13px;
}

.text-body {
	font-size: 15px;
}

.text-title {
	font-size: 25px;
	font-weight: 700;
}

.text-title-big {
	font-size: 35px;
	font-weight: 700;
}
.text-subtitle {
	font-size: 20px;
	font-weight: 600;
}

.text-input {
	font-size: 16px;
}
