* {
	font-family: "Poppins", sans-serif;
}

.text-small {
	font-weight: 13px;
}

.text-body {
	font-weight: 15px;
}

.text-title {
	font-weight: 25px;
	font-weight: 700;
}

.text-subtitle {
	font-weight: 18px;
	font-weight: 600;
}

.text-input {
	font-weight: 16px;
}
